.header{
  height: 70px;
  border-bottom: 1px solid var(--table-border-color);
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  column-gap: 24px;

  .logo{
    width: 46px;
    height: 46px;
    margin-left: 12px;
  }

  .menu{
    flex: 1;
    list-style: none;
    display: flex;
    gap: 24px;
    li{
      display: inline-block;
      cursor: pointer;
      a{
        text-decoration: none;
        color: var(--text-color);
        font-weight: 400;
      }
    }
  }

}
