<div class="header">
  <img class="logo" src="./assets/logo.png" alt="">
  <ul class="menu">
    <li ><a href="/Notowania">Cryptocurrencies</a></li>
    <li ><a href="/Notowania">Exchanges</a></li>
    <li ><a href="/Notowania">Community</a></li>
    <li ><a href="/Notowania">Products</a></li>
    <li ><a href="/Notowania">Learn</a></li>
  </ul>
  <div class="mobile-menu">
    <custom-dropdown></custom-dropdown>
  </div>
  <div class="button-container">
    <button class="btn btn--outline">Log in</button>
    <button class="btn">Sign up</button>
  </div>
</div>
